<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>🎙 Album Collection 🎶</h1>
<ul>
    <!-- Loop through the albumCollection and display each album -->
    <li th:each="album : ${albums}">
        <h2>Album Title:  <a th:href="'/albums/' + ${album.id}" th:text="${album.title}">ALBUM TITLE</a></h2>
        <p>Album Artist: <span th:text="${album.artist}">ALBUM ARTIST</span></p>
        <p>Album Song Count: <span th:text="${album.songCount}">ALBUM SONGCOUNT</span></p>
        <p>Album Length(sec): <span th:text="${album.length}">ALBUM LENGTH</span></p>
    </li>
</ul>


<form action="/albums" method="POST">
    <fieldset>
        <legend>Add Your Favorite Album</legend>
        <label>Album Title</label>
        <input type="text" name="title">
        <label>Album Artist</label>
        <input type="text" name="artist">
        <label>Number Of Songs In Album</label>
        <input type="number" name="songCount">
        <label>Album Length</label>
        <input type="number" name="length">
        <input type="submit" value="Add Album">
    </fieldset>
</form>
</body>
</html>